<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Inicio Sesion</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>

<body>
    <ul class="nav navbar-dark bg-dark justify-content-end">
       <div class="container">
           <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
               </button>
               <a class="navbar-brand" th:href="@{/api/registro}">Registrar nuevo usuario</a>
               <li sec:authorize="isAuthenticate()"><a th:href="@{/logout}">Cerrar sesi&oacute;n</a></li>
           </div>
       </div>
    </ul>

    <br>
    <br>

    <div class="container">
        Bienvenido <span sec:authentication="principal.username"></span>
        <h1>HISTORIAL RESERVAS</h1>
        <hr>

    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>